{{this.requirement}}
<table>
    <tr>
        <th>AR</th>
        <th>DR</th>
        <th>AW</th>
        <th>DW</th>
    </tr>
    <tr>
        <td>{{this.ar}}</td>
        <td>{{this.dr}}</td>
        <td>AW</td>
        <td>DW</td>
    </tr>
</table>