Hello {{this.email}}!
<br><br>
Google backend links
<br>
<a href="/google/file">List of clickable files</a>
<br>
<a href="/google/addperm">Add new Sharing Change to one or multiple files</a>
<br>
<a href="/google/allfiles">JSON of all google drive files</a>
<br>
<a href="/google/f/updateperm">Update permissions for file</a>
<br>
<a href="/googlefilesnapshot/snapshot">Google file snapshot</a>
<br>
<a href="/google/adduserfiles">Update files to user db</a>
<br>
<a href="/google/addaccess">Add access policies control</a>
<br>
<a href="/google/search">Search queries</a>
<br>
<a href="/google/signout">Signout</a>
<p>/file/:fileid/permission/:permid also gets specific permission details </p>