<form action="/google/f/updatepermission", method="post">
    {{!-- let files = JSON.parse(req.body.files) // list of files with new ids
   fileId: req.body.fileid,
    permissionId: req.body.permid,
    data: data, --}}
  Representing post call to backend
  <br>
  Update permissions for file
  <br>
Fileid<br>
  <input type="text" id="fileid" name="fileid">
  <br>Permission id<br>
  <input type="text" id="permid" name="permid">
  <br>Data (in the form of a JSON [body of the post call]) ex: {"role":"write"}<br>
  <input type="text" id="data" name="data">
  <br>Submit<br>
  <input type="submit" value="Submit">
</form>