<form action="/google/f/updatepermission", method="post">
    {{!-- let files = JSON.parse(req.body.files) // list of files with new ids
   fileId: req.body.fileid,
    permissionId: req.body.permid,
    data: data, --}}
  <input type="text" id="fileid" name="fileid">
  <input type="text" id="permid" name="permid">
  <input type="text" id="data" name="data">
  <input type="submit" value="Submit">
</form>