<h1>{{title}}</h1>
{{#if isAuthenticated }}
<p>Hi {{username}}!</p>
<a href="/users/id">View ID token claims</a>
<br>
{{!-- <a href="/auth/acquireToken">Acquire a token to call the Microsoft Graph API</a> --}}
{{!-- <br> --}}
<a href="/users/microsoft/filesnapshot">Microsoft file snapshot</a>
<br>
<a href="/users/profile">Create Microsoft user profile</a>
<br>
<a href="/users/microsoft/search">Searching Queries</a>
<br>
<a href="/users/microsoft/addaccess">Add access control policies</a>
<br>
<a href="/users/microsoftaddperm">Add new Sharing Change for one or multiple files</a>
<br>
<a href="/users/microsoft/updateperm">Update permissions for a file and permission</a>
<br>
<a href="/auth/signout">Sign out</a>
{{else}}
<p>Welcome to {{title}}</p>
<a href="/auth/signin">Microsoft Sign in</a>
<br>
<a href="/google/auth">Google Sign in</a>
<br>
{{/if}}
