<form action="/users/microsoft/addpermission", method="post">

  <input type="files" id="files" name="files">
  <input type="text" id="value" name="value">
  <input type="text" id="role" name="role">
  <input type="submit" value="Submit">
</form>