<h2>Add Access Policy</h2>

<form action="/users/microsoft/addaccesspolicy", method="post">
  <label for="requirement">Requirement</label><br>
  <input type="text" id="requirement" name="requirement"><br>
  <br>
  <label for="ar">Allowed Readers</label><br>
  <input type="text" id="ar" name="ar"><br>
  <br>
  <label for="dr">Denied Readers</label><br>
  <input type="text" id="dr" name="dr"><br>
  <br>
  <label for="aw">Allowed Writers</label><br>
  <input type="text" id="aw" name="aw"><br>
  <br>
  <label for="dw">Denied Writers</label><br>
  <input type="text" id="dw" name="dw"><br>
  <br>
  <input type="submit" value="Add">
</form>