<form action="/users/microsoft/addpermission", method="post">
Representing post call to backend
  <br>
  Add new permissions for files (one or multiple) in the form ["fileid_here", "fileid_here"]
  <br>
  Files:<br>
  <input type="text" id="files" name="files">
    <br>value (email)<br>
  <input type="text" id="value" name="value">
    <br>Role (read, write)<br>
  <input type="text" id="role" name="role">
    <br>Submit<br>
  <input type="submit" value="Submit">
</form>