<form action="/users/microsoft/updatepermission", method="post">
    Representing post call to backend
  <br>
  Update permissions for file
  <br>
Fileid<br>
  <input type="text" id="fileid" name="fileid">
  <br>Permission id<br>
  <input type="text" id="permid" name="permid">
  <br>Role<br>
  <input type="text" id="role" name="role">
  <br>Submit<br>
  <input type="submit" value="Submit">
</form>